<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Relatórios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/index.js') }}" defer></script>
    
</head>
<body>
    <div class="leftFrame">
        <div class="flashMessages">
        </div>
    </div>

    <div class="rightFrame">
        <div class="subRightFrame">
            <div>
                <label class="titulo">Gerador de Certidão</label>
            </div>
            <div class="formulario">
                <form>
                    <div>
                        <input class="input" type="text" name="razaoSocial" placeholder="Razão Social">
                    </div>
                    <div class="dropdown">
                        <div class="dropdown-content"></div>
                    </div>
                    <div>
                        <button id="button">Gerar Certidão</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
