<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Relatórios</title>
    <link rel="stylesheet" href="src/frontEnd/screens/home_screen/styles.css"
</head>
<body>
    <div class="mainFrame">
        <form action="/gerar_certidao" method="post">
            <div class="cliente">
                <label for="nome">Nome do cliente:</label>
                <input type="text" id="nomeCliente" name="nomeCliente" placeholder="Digite o nome do cliente"
            </div>
            <button id="gerarCertidao">Gerar Certidão</button>
        </form>
        
    </div>

</body>
</html>