
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#c0c0d9;
}

.leftFrame {
    width: 30%;
    height: 70%;
    background-color: #dddde7;
    border: none;
    box-shadow: -13px 13px 16px -11px #A3A3B3;
}

.subRightFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.subRightFrame > * {
    margin-bottom: 10px;
}


.input {
    background-color: transparent;
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #18978F;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

.input:focus {
    outline: none;
}


.rightFrame {
    width: 30%;
    height: 70%;
    background-color: #f4f5f5;
    border: none;
    box-shadow: 15px 13px 16px -11px #A3A3B3;
}

.texto {
    color: #000736;
}

.titulo {
    font-family: 'Bungee', cursive;
    font-size: 26px;
    color: #000736;
}

#razao_social {
    font-family: 'Bungee', cursive;
}

#button {
	background-color:#9aeae2;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:5px 55px;
	text-decoration:none;
    border-radius: 30px;
}
#button:hover {
	background-color:#76C1BA;
}
#button:active {
	position:relative;
	top:1px;
}
